---
---

$section-headings-color: #D35400;
$body-text-color: #A067AB !default;
$body-link-color: #A067AB !default;
$blockquote-text-color: #A067AB  !default;

@import"{{ site.theme }}";

.page-header{
color:#ffff;
background-color:#A067AB;
background-image:linear-gradient(120deg,#5073B8,#A067AB);
}

.h1{
color: #A067AB;
}
